body{
    background-image:url(./background_main.jpg) ;
    background-size:cover;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#first{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#container{
    height: 85vh;
    width: 50vw;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-image:url(./background.jpg) ;
    background-size: cover;
}
#second{
    background-color: black;
    opacity: 0.8;
}
#date ,#time{
    color: whitesmoke;
    font-size: larger;
}

#weather-container{
    height: 75%;
    width: 90%;
    margin-left:20px;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    gap: 10px;
}
#icon {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.4);
}
.weather-details{
    display: grid;
    grid-template-rows: repeat(4,1fr);
}
